body{
    font-family: 'Open Sans';
}

.bg-pink{
    background-color: #E83E8C;
}
.logo-nav{
    width:132px;
    height:53px;
}
.logo-footer{
    width:53px;
    height:100px;
    display:block;
    margin: auto ;
}
.contenedor-logo{
    padding:50px
}
.bg-tarjetas{
    background-color: #17A2B8;

}

.fab{
    color: #ffff;
}

@media only screen and (max-width: 753px) {
    .bg-tarjetas {
      display: none;
    }
  }